<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Where Is My Child</title>
	<link rel="stylesheet" href="../assets/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="../assets/stylesheets/application.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet'>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<style>
	#map-canvas {
		height: 80vh;
	}

	#status {
		height: 20vh;
		line-height: 20vh;
		text-align: center;
		background: #4DA9CA;
		color: white;
		font-size: 2em;
	}
</style>
</head>
<body>

	<div class="container-fluid">
		<div id="map-canvas" class="row">
		</div>
		<div id="status" class="row">
			Logout
		</div>
	</div>

	<script>
		var directionsDisplay;
		var directionsService = new google.maps.DirectionsService();
		var map;

		function initialize() {
			directionsDisplay = new google.maps.DirectionsRenderer();
			

			$.ajax({
				url: 'http://10.228.153.188:3000/buses/1.json',
				type: 'GET',
				datatype: 'jsonp',
				contentType: "application/json",
				success: function (data) {
					renderMaps(data.location);
				},
				error: function (data) {
					console.log(data);
				}
			});
		}

		function renderMaps (location) {
			location = location.split(",");
			location = {
				lat: location[0],
				lang: location[1].trim(" ")
			};
			var image = '../assets/images/bus.png';
			var myLatLng = new google.maps.LatLng(location.lat, location.lang);
			var mapOptions = {
				zoom:16,
				center: myLatLng
			};
			map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
			directionsDisplay.setMap(map);
			
			new google.maps.Marker({
				position: myLatLng,
				map: map,
				icon: image
			});
		}

		google.maps.event.addDomListener(window, 'load', initialize);

    </script>
	<script src="../assets/javascripts/jquery.min.js"></script>
	<script src="../assets/javascripts/underscore.min.js"></script>
	<script src="../assets/javascripts/backbone.min.js"></script>
	<script src="../assets/javascripts/bootstrap.js"></script>
</body>
</html>